<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tequedlabs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/img"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/img"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Announcement"></activity>
        <activity android:name=".TeacherNewAnnouncement" />
        <activity android:name=".NewAnnouncement" />
        <activity android:name=".TeacherStatus" />
        <activity android:name=".TeacherAttendance" />
        <activity android:name=".NewStudentList" />
        <activity android:name=".AdminAddStudent" />
        <activity android:name=".NewCourse" />
        <activity android:name=".AdminAddCourse" />
        <activity android:name=".AdminCourseList" />
        <activity android:name=".AdminAttendance" />
        <activity android:name=".AdminStudentList" />
        <activity android:name=".AdminAnnouncement" />
        <activity android:name=".TeacherHomePage" />
        <activity android:name=".AdminHomePage" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>